
  <div class="widget-wrap">
    <h3 class="widget-title">赞助我</h3>
    <div class="widget" style="text-align:center;">
      <img src='http://wilsonliu.cn/cdn/img/201612/db848f822edf4ea1a272dc1039993375.JPG' style='width:80%;' />
      <img src='http://wilsonliu.cn/cdn/img/201612/cb81c8e900642b4a8589f25d6ae7d17a.JPG' style='width:48%; display:none' />
    </div>
  </div>