<div class="widget-wrap">
    <h3 class="widget-title">联系方式</h3>
    <div class="widget">
      <p>网站：<a href="https://wilsonliu.cn">https://wilsonliu.cn</a></p>
      <p>邮箱：<a href="mailto:wilsonliuxyz@gmail.com">wilsonliuxyz@gmail.com</a></p>
      <p>微博：<a href="http://weibo.com/232534500">WilsonLiu95</a></p>
      <p>QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=527622467&site=qq&menu=yes">527622467</a></p>      
    </div>
</div>
