<div class="widget-wrap">
    <h3 class="widget-title">座右铭</h3>
    <div class="widget">
        <strong>致力于做一个有故事的人。</strong>
        <p>小时候听爸爸说他的故事，长大了去创造自己的故事；当父亲后有故事可讲；老了以后有故事可以回味。</p>
    </div>
</div>
